<% @sidebar = true %>
<div class="row">
  <div class="card funnel-info text-center">
  <h3>Your community</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= render 'shared/money_counter' %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= render 'shared/pie_chart' %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= render 'shared/trees_saved' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'shared/callforactionbutton' %>
  </div>
</div>
