<% @sidebar = true %>

<h1>Number of Simulations <span id="my-impact-simulations"><%= @number_of_simulations %></span></h1>

<div class="contracts-container">
  <div class="contract-simulation-header text-center">
    <div class="contract-running">
      <%= render "shared/contract" %>
      <h2>In production for <strong><span id="my-impact-days">0</span> days</strong></h2>
    </div>
    <div class="contract-energy">
      <%= render "shared/bulb" %>
      <h2>Produced <strong><span id="my-impact-lightning">1</span> days of lighting</strong></h2>
    </div>
    <div class="contract-trees">
      <%= render "shared/tree" %>
      <h2>Saved <strong><span id="my-impact-trees">2</span> % of a tree</strong></h2>
    </div>
  </div>
  <div class="contract-simulation-body">

    <div class="pie-container">
      <div class="pie">
        <div class="slice-right"></div>
        <div class="slice-left"></div>
        <div class="percent">
          <div class="number">49%</div>
        </div>
      </div>
      <h4>of the energy you consume</h4><h3><strong>is being produced locally</strong></h3>
    </div>
  </div>

</div>
</div>
