<div class="funnel-container">
  <div class="container max-height">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="funnel-card text-center">
          <div class="focuses">
            <h3>That's it! Done! You are now part of the movement:)</h3>
            <p>We must get enough people in your neighbourhood to run a relevant simulation</p>
            <p>Please encourage your neighbours to join too!</p>
            <%= link_to "Send an email", "#",class: "navbar-wagon-button-orange"%>
          </div>
          <h3>You will receive the result of the experimentation once we get 30 people engaged</h3>
          <%= link_to "Go to my dashboard", dashboard_path,class: "navbar-wagon-button-orange"%>
        </div>
      </div>
    </div>
  </div>
</div>
