.title{
  color: #5a7391;
  font-size: 26px;
  font-weight: 600;
}

.contracts{
  color: #5a7391;
  font-size: 18px;
  font-weight: 600;
}

.dashboard-wrapper {
  padding: 40px 15px;
}

.back-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
  }
}

.sidebar-bottom-button-grp {
  position: absolute;
  bottom: 40px;
  width: 100%
}
