/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.homepage-section {
  padding: 2em 0 4em;
}

.section-title {
  margin-bottom: 1em;
}

.homepage-main-content {
  margin-top: 28vh;
}

.homepage-card-icon {
  color: $orange;
  font-size: 6em;
}

#search-solar-potential {
  background-image: asset-url('solar_city.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#why-rational {
  padding: 0 100px;
}




