/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.homepage-section {
  padding: 2em 0 4em;
}

.section-title {
  margin-bottom: 1em;
}

.homepage-main-content {
  margin-top: 63vh;
}

.homepage-card-icon {
  color: $orange;
  font-size: 6em;
}

#how-it-works {
  background-color: white;
  color: $gray-dark;
}

#search-solar-potential {
  background-image: asset-url('solar_city.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#why-rational {
  padding: 0 100px;
}

.center-button {
  width: 100%;
  margin-top: 30px;
}

h1.splash-title {
  font-size: 4.5em;
}

h2.splash-sub-title {
  font-weight: normal;
}

.splash-button {

}

.info-box p {
  font-size: 1.2em;
}
