<div class="transaction-container">
  <div class="row">
    <div class="col-xs-6">
      <div class="listed-transactions text-center">
        <% transactions.each do |transaction| %>
          <p class="transaction-line hidden" id="transaction-<%= transaction.id %>">Transaction <%= transaction.id %>: Transferred Amount: <span class="excess-amount"><%= transaction.excess %> kWh</span> </p>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
    <div id="chartContainer" style="height: 300px; width:100%;">
    </div>
    </div>
  </div>
</div>


