<div class="row profile">
  <div class="profile-content">
    <h2 class="title text-center">Your are consuming energy locally </h2>
    <% current_user.contracts.each do |contract| %>
    <% next unless contract.end_date.nil? %>
    <div class="card">
      <li class="contracts"> You are currently consuming excess energy from <%= contract.solar_panel.user.first_name.capitalize %> <%= link_to "See Details", contract_path(contract) %></li>
    </div>
    <% end %>
    <li class="sidebar-signout-btn text-center ">
      <%= link_to "Terminated Contracts", current_user_contracts_terminated_path%>
    </li>
  </div>
</div>
