<% @sidebar = true %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#producers" aria-controls="producers" role="tab" data-toggle="tab">My producers</a>
  </li>
  <li role="presentation">
    <a href="#consumers" aria-controls="consumers" role="tab" data-toggle="tab">My consummers</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="producers">
    <% if current_user.contracts.any? %>
      <%= render "producers" %>
    <% else %>
      You don't have any producer, <%=  link_to "find one", solar_panels_path %>
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane" id="consumers">
     <% if current_user.solar_panel %>
       <%= render "consumers" %>
     <% else %>
       You don't have any solar panel, <%=  link_to "add one", new_solar_panel_path %>
     <% end %>
  </div>
</div>



