<h1>Contract Details</h1>

<ul>

  <li>Seller: <%= @solar_panel.user.first_name + " " + @solar_panel.user.last_name %></li>
  <li>Buyer: <%= current_user.first_name + " " + current_user.last_name %></li>
  <li>Price/Sol: <%= @solar_panel.price %></li>

</ul>

<%= link_to 'Sign Contract', solar_panel_contracts_path, :method => :post%>
