<% @sidebar = true %>

<div class="contracts-container">
  <div class="contract-simulation-header text-center">
    <div class="contract-running">
      <%= render "shared/contract" %>
      <h2>Running for <strong><span id="days-running">0</span> days</strong></h2>
    </div>
    <div class="contract-energy">
      <%= render "shared/bulb" %>
      <h2>Consuming <strong><span id="lighting-weeks">0</span> days of lighting</strong></h2>
    </div>
    <div class="contract-trees">
      <%= render "shared/tree" %>
      <h2>Saving <strong>0.<span id="trees-saved">0</span>0 % of a tree</strong></h2>
    </div>
  </div>
  <div class="contract-simulation-body">

  </div>
</div>


<div class="trade-container text-center">
  <h1>Transactions</h1>
  <%= link_to "Start Trading", start_path(@contract), remote: true, method: :post, class: "navbar-wagon-button-orange", id: "start-transaction-button" %>
  <div id="transactions">

  </div>

</div>
