<% @homepage = !true %>
<div>
<%= image_tag "dashboard_nonavbar.jpeg", class:"dash-mockup"%>
</div>

<%= link_to "Solar panels around you", solar_panels_path %>
<%= link_to "My solar panels", user_my_panels_path %>
