<div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="text-center">
      <h3>Energy sources</h3>
         <div id="pieChart" class="chart"></div>
        </div>
        <div class="card-content-container text-left">
          <h4 class="text-center">70% came from solar!</h4>
        </div>
        <div class="text-center">
          <%= link_to "Details", "#" ,class: "navbar-wagon-button-orange" %>
        </div>
      </div>
    <div class="card">
      <%= render 'shared/animated_barchart' %>
    </div>
</div>

