
<p class="alert">Please add your address to your profile &nbsp;<button class="add-address-button navbar-wagon-item navbar-wagon-button" type="submit">Add Address</button></p>

<div class="address-pop-up hidden" ">
  <div class="row">
    <div class="card text-center col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <%= simple_form_for(@user, url: user_registration_path, method: :patch) do |f| %>
     <div class="form-inputs text-left card-content-container">
      <%= f.input :address, autofocus: true, placeholder: "Address"%>
      <div class="form-actions text-center">
        <%= f.submit value: "Save Address", class: "navbar-wagon-item navbar-wagon-button" %>
      </div>
    </div>
    <% end %>

  </div>
</div>
</div>
