
<div class="card">


  <h3 class="text-center"  >Current Usage</h3>

  <div class="bar-chart-wrapper">
    <div class="red-bar-chart" data-percent="85%"><span class="bar-chart-label">Production</span></div>
    <div class="red-bar-chart" data-percent="70%"><span class="bar-chart-label">Consumption</span></div>
  </div>
</div>

