

  <h1>Current Usage</h1>

  <div class="wrap">


    <div class="bar1" data-percent="85%"><span class="label">Production</span></div>

    <div class="bar1" data-percent="70%"><span class="label">Consumption</span></div>


</div>

