<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="650px" height="650px" viewBox="0 0 650 650" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.3 (16044) - http://www.bohemiancoding.com/sketch -->
    <title>Slice 1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Group" sketch:type="MSLayerGroup" transform="translate(203.000000, 155.000000)">
            <rect id="Rectangle-path" fill="#AFAFAF" sketch:type="MSShapeGroup" x="73.7666553" y="256.355611" width="96.940474" height="41.972798"></rect>
            <path d="M114.228766,1.02108958 C57.750403,4.51882274 5.48684316,58.2964701 1.27203994,116.883501 C-2.09980263,166.288982 21.9245757,210.010646 59.014844,233.620345 C67.8659307,239.304161 73.3451749,249.360144 73.3451749,260.29056 L170.285649,260.29056 C170.707129,248.922928 176.607854,238.866945 185.45894,233.183128 C220.020327,210.885079 242.780264,171.535581 242.780264,126.502267 C243.623225,54.3615203 185.03746,-3.78829353 114.228766,1.02108958 L114.228766,1.02108958 Z" id="Shape" fill="#EFD358" sketch:type="MSShapeGroup"></path>
            <path d="M106.22064,322.812541 C106.22064,331.99409 113.385805,339.426773 122.236892,339.426773 C131.087979,339.426773 138.253144,331.99409 138.253144,322.812541 C153.426436,322.812541 166.070846,312.319341 169.442688,297.453975 L74.6096159,297.453975 C78.4029388,311.882125 91.0473484,322.812541 106.22064,322.812541 L106.22064,322.812541 Z" id="Shape" fill="#444444" sketch:type="MSShapeGroup"></path>
            <g transform="translate(65.337049, 108.482695)" id="Line" stroke="#B39A30" stroke-width="10" stroke-linecap="square" sketch:type="MSShapeGroup">
                <path d="M1.13799687,4.21601765 L35.2779029,40.7548373"></path>
                <path d="M35.2779029,40.7548373 L55.7618465,18.2694098"></path>
                <path d="M80.7977776,40.7548373 L58.0378403,18.2694098"></path>
                <path d="M112.66169,1.40533922 L80.7977776,40.7548373"></path>
            </g>
        </g>
    </g>
</svg>