
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="card funnel-info cfabutton text-center">
      <%= link_to 'Consume local energy', located_solar_panels_path, class: "navbar-wagon-button-orange" %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="card funnel-info cfabutton text-center">
      <%= link_to 'Sell local energy', new_solar_panel_path, class: "navbar-wagon-button-orange" %>
    </div>
  </div>
</div>
