<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="650px" height="650px" viewBox="0 0 650 650" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.3 (16044) - http://www.bohemiancoding.com/sketch -->
    <title>Slice 1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="noun_56108_cc" sketch:type="MSLayerGroup" transform="translate(160.000000, 111.000000)">
            <g id="Group" sketch:type="MSShapeGroup">
                <path d="M286.09544,80.0530229 L32.92544,80.0530229 L32.92544,55.1103961 L286.09544,55.1103961 L286.09544,80.0530229 L286.09544,80.0530229 Z M286.09544,129.040572 L32.92544,129.040572 L32.92544,104.113602 L286.09544,104.113602 L286.09544,129.040572 L286.09544,129.040572 Z M286.09544,178.048997 L32.92544,178.048997 L32.92544,153.101151 L286.09544,153.101151 L286.09544,178.048997 L286.09544,178.048997 Z M0.29,0.653110445 L0.29,389.891701 L182.26964,389.891701 L182.26964,341.525239 C173.65142,330.606642 168.45752,316.85923 168.45752,301.895742 C168.4523,266.540782 197.23538,237.767251 232.59566,237.767251 C267.96638,237.767251 296.7338,266.540782 296.7338,301.900961 C296.7338,316.864449 291.54512,330.611861 282.92168,341.530458 L282.92168,389.89692 L318.71,389.89692 L318.71,0.653110445 L0.29,0.653110445 L0.29,0.653110445 Z" id="Shape" fill="#E6E6E6"></path>
                <path d="M279.86798,301.90618 C279.86798,327.986596 258.70088,349.150511 232.59566,349.150511 C206.49044,349.150511 185.32334,327.986596 185.32334,301.90618 C185.32334,275.804888 206.49044,254.635753 232.59566,254.635753 C258.70088,254.635753 279.86798,275.804888 279.86798,301.90618" id="Shape" fill="#E86C60"></path>
                <path d="M232.59566,371.61923 C218.03708,371.61923 204.9401,365.455338 195.69026,355.622337 L195.69026,438.524343 L232.59566,414.432448 L269.50106,438.524343 L269.50106,355.617118 C260.246,365.455338 247.15424,371.61923 232.59566,371.61923" id="Shape" fill="#EFD358"></path>
            </g>
        </g>
    </g>
</svg>