

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  console.log("Hello");
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Hour', 'Production', 'Consumption'],
      ['00',  0,      60],
      ['01',  0,      60],
      ['02',  0,      30],
      ['03',  0,      30],
      ['04',  0,      20],
      ['05',  0,      20],
      ['06',  0,      20],
      ['07',  25,     20],
      ['08',  49,     38],
      ['09',  98,     38],
      ['10',  147,    34],
      ['11',  196,    34],
      ['12',  245,    42],
      ['13',  196,    42],
      ['14',  147,    56],
      ['15',  98,     56],
      ['16',  49,     46],
      ['17',  25,     46],
      ['18',  0,      42],
      ['19',  0,      42],
      ['20',  0,      60],
      ['21',  0,      60],
      ['22',  0,      74],
      ['23',  0,      74]
      ]);

    var options = {
      title: 'Winter',
      hAxis: {title: 'Hour',  titleTextStyle: {color: 'white'}, textStyle: {color: "#fff"}},
      vAxis: { minValue: 0, titleTextStyle: {color: 'white'}, textStyle: {color: "#fff"},titleTextStyle: {color: 'white'}},
      legendTextStyle: { color: '#FFF' },
      backgroundColor: { fill:'transparent' }
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart_div2'));
    chart.draw(data, options);
  }
</script>

<div id="chart_div2" class="card" style="width: 100%px; height: 300px;"></div>


