<footer id="footer">


<div class="text-center">
  <p><%=t('shared.footer.follow')%></p>
  <ul class="list-inline">
    <li><a class="footer-item-container" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a class="footer-item-container" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a class="footer-item-container" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul>
</div>

</footer>
