<div class="card-dashboard">
  <div class="text-center">
    <div class="money-symbol">
      <i class="fa fa-eur fa-5x money" aria-hidden="true"></i>
    </div>
    <p id="cash">2000</p>

    <h4>monthly redistribution locally</h4>
  </div>
</div>
