      <div class="card">
        <div class="text-center">
          <h3>Daily usage</h3>
          <div id="pieChart" ></div>
        <%= image_tag "piechart.jpg", class: "chart" %>
        </div>

        <div class="card-content-container text-left">
          <h4 class="text-center">70% came from solar!</h4>
        </div>
        <div class="text-center">
          <%= link_to "Details", "#" ,class: "navbar-wagon-button-orange" %>
        </div>
      </div>



