<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="650px" height="650px" viewBox="0 0 650 650" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.4.3 (16044) - http://www.bohemiancoding.com/sketch -->
    <title>Slice 1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="noun_142904" sketch:type="MSLayerGroup" transform="translate(182.000000, 69.000000)">
            <g id="Group" sketch:type="MSShapeGroup">
                <path d="M245.92931,221.03956 L118.758621,221.03956 C118.758621,214.101099 121.232759,207.658242 123.212069,201.215385 C127.17069,189.816484 133.108621,178.913187 139.046552,169.001099 C149.932759,150.663736 162.303448,133.317582 175.168966,116.962637 C179.622414,111.510989 172.2,103.085714 167.746552,109.032967 C153.891379,127.37033 140.531034,145.707692 128.655172,166.027473 C119.748276,181.391209 108.862069,201.710989 108.367241,221.535165 L5.93793103,221.535165 C2.96896552,221.535165 0,224.013187 0,227.482418 L0,270.104396 C0,273.078022 2.47413793,276.051648 5.93793103,276.051648 L245.92931,276.051648 C248.898276,276.051648 251.867241,273.573626 251.867241,270.104396 L251.867241,227.482418 C251.867241,223.517582 249.393103,221.03956 245.92931,221.03956 L245.92931,221.03956 Z" id="Shape" fill="#A67C52"></path>
                <path d="M241.475862,281.503297 L10.3913793,281.503297 C9.40172414,281.503297 8.41206897,282.494505 8.41206897,283.485714 L24.7413793,447.035165 C24.7413793,448.026374 25.7310345,449.017582 26.7206897,449.017582 L224.651724,449.017582 C225.641379,449.017582 226.631034,448.026374 226.631034,447.035165 L242.960345,283.485714 C243.455172,282.494505 242.465517,281.503297 241.475862,281.503297 L241.475862,281.503297 Z" id="Shape" fill="#7C5839"></path>
                <path d="M214.755172,128.361538 C177.643103,133.317582 149.437931,149.672527 151.417241,164.540659 C153.396552,179.408791 185.065517,187.338462 222.177586,182.382418 C259.289655,177.426374 285.515517,146.203297 285.515517,146.203297 C285.515517,146.203297 251.372414,123.405495 214.755172,128.361538 L214.755172,128.361538 Z" id="Shape" fill="#72C472"></path>
                <path d="M183.581034,105.068132 C194.962069,114.98022 223.662069,100.112088 248.403448,71.8626374 C272.65,43.6131868 272.155172,2.97362637 272.155172,2.97362637 C272.155172,2.97362637 232.074138,7.92967033 207.332759,36.1791209 C182.591379,64.4285714 172.2,95.156044 183.581034,105.068132 L183.581034,105.068132 Z" id="Shape" fill="#72C472"></path>
                <path d="M138.056897,136.291209 C152.406897,131.830769 154.386207,99.1208791 142.510345,63.4373626 C130.634483,27.7538462 95.5017241,7.92967033 95.5017241,7.92967033 C95.5017241,7.92967033 79.1724138,45.1 91.0482759,80.7835165 C102.924138,115.971429 124.201724,141.247253 138.056897,136.291209 L138.056897,136.291209 Z" id="Shape" fill="#72C472"></path>
                <path d="M45.0293103,155.124176 C74.7189655,177.426374 106.387931,185.851648 115.294828,173.957143 C124.201724,162.062637 107.377586,134.308791 77.687931,111.510989 C47.9982759,89.2087912 7.42241379,92.678022 7.42241379,92.678022 C7.42241379,92.678022 15.3396552,132.821978 45.0293103,155.124176 L45.0293103,155.124176 Z" id="Shape" fill="#72C472"></path>
            </g>
        </g>
    </g>
</svg>