 <div class="card-dashboard">
  <div class="text-center">
    <div id="trees" >
      <%= image_tag "heavyforest.png", class: "chart" %>
    </div>
    <div class="card-content-container text-left">
      <br>
      <h4 class="text-center"> <%= @solar_count * 10000 / 10000 %> trees saved in the community </h4>

    </div>
  </div>
</div>
