 <div class="card-dashboard">
  <div class="text-center">
    <div id="trees" >
      <%= image_tag "trees.png", class: "chart" %>
    </div>
    <div class="card-content-container text-left">
      <br>
      <h4 class="text-center">In your community</h4>
    </div>
  </div>
</div>
