<% @homepage = true %>

<%= render "shared/homepage_navbar" %>

<!-- Video background -->
<div class="video-container">
  <div id="info-box">
    <h1>SunShine</h1>
    <h4 style="text-align: center">Go Solar & Make Money</h4>
    <h4 style="text-align: center">Trade solar energy with your neighbours</h4>
  </div>

  <video poster="http://www.solarcity.com/sites/all/themes/solarcity/img/video-bg-poster.jpg" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <source src="http://www.solarcity.com/sites/all/themes/solarcity/video/video-bg.mp4">
  </video>
</div>

<main class="homepage-main-content">
  <section class="homepage-section" id="how-it-works">
  <div class="container-fluid">
      <h3 class="text-center section-title orange-text">Three simple steps</h3>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <h4 class="text-center card-title">Go solar in one click</h4>
          <p class="text-center"><i class="fa fa-user homepage-card-icon"></i></p>
          <br>
          <div class="card-content-container">
            <p>
            You ve always wanted to consume solar energy but it is too much assle, complicated, expensive...
            </p>
            <p>
            Guess what... There are producers of solar energy in your area! They are keen to sell their excess of solar energy to you. They take care the assle.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <h4 class="text-center card-title">Consume local clean energy</h4>
          <p class="text-center"><i class="fa fa-bolt homepage-card-icon"></i></p>
          <br>
          <div class="card-content-container">
            <p>
            When there is a local excess of solar generated, and you need it, SunShine matches you directly to the relevant producer.
            </p>
            <p>
            You start login in more and more clean local energy. Only on demand. Only when available.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <h4 class="text-center card-title">Become a producer</h4>
          <p class="text-center"><i class="fa fa-heart homepage-card-icon"></i></p>
          <br>
          <div class="card-content-container">
             <p>
            You realise your rooftop has a great potential. You want to become a producer. You buy or lease solar panels on your roof.
            </p>
            <p>
            You start self consuming your clean energy, and making extra money by selling excess to your neighbours.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="homepage-section" id="search-solar-potential">
    <div class="container-fluid">
      <h3 class="text-center section-title white-text">Find panels near you</h3>
      <div class="text-center">

        <form action="/current_user/located_solar_panels">
          <input class="round-input-field" type="text" name="street" placeholder="Enter your street name" data-reactid=".3.0.2.0"></div>
        </form>

    </div>
  </section>

  <section class="homepage-section" id="info">
    <div class="container-fluid">
      <h3 class="text-center section-title orange-text">Why Project SunShine</h3>
      <p>Because we care!</p>
    </div>
  </section>
</main>

<%= render "shared/homepage_footer" %>
