<% @homepage = true %>

<div class="banner">
  <div class="title">
    <h1>SUNSHINE</h1>
    <%= link_to "Sign In", new_user_session_path, { :class=>"btn-primary" }%>
  </div>
  <iframe src="https://www.youtube.com/embed/er0p_Ze325Y" width="100%" height="100%" ></iframe>
</div>
