<div class="funnel-container">
  <div class="container max-height">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="funnel-info text-center">
          <br>
          <h3>You can make money by producing and consuming clean hyperlocal solar energy</h3>
          <br>
          <h3>It is already happening in Brooklyn, Perth, France</h3>
          <div class="center-button text-center">
            <%= link_to 'Real time simulation', welcome_step3_rent_path, class: "navbar-wagon-button-orange" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
