<div class="funnel-container">
  <div class="container max-height">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="funnel-card text-center">

          <div class="focuses">
            <%= simple_form_for @user, url: {action: "create_step3"} do |f| %>
              <%= f.input :premium, label: "What price would you be willing to pay for local solar energy?", :input_html => { :value => 30}%>
            <% end %>
          </div>
          <h3>Your monthly electricity bill estimate: 30€</h3>
        </div>
      </div>
    </div>
  </div>
</div>
