
<div class="funnel-container">
  <div class="container max-height">
    <div class="row">
      <div class="col-xs-10 col-offset-xs-1 col-md-6 col-offset-md-3">
        <div class="funnel-card funnel-card-1">
          <div class="focuses">
            <%= simple_form_for @user, url: {action: "create_step0"} do |f| %>
            <%= f.input :first_name, label: 'What is your name?' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
