<div class="text-center error-style">
<div class="title-box">
<h2 class="error-title">Sorry, I am a little bit LOST! <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
</div>
<br>
<br>
<i class="fa fa-arrow-down fa-4x" aria-hidden="true"></i>
</h2>
<div class="btn-error">
<%= link_to 'Get Back to Home Page...', root_path, class: "btn-treehouse" %>
</div>
</div>
<%= render 'shared/fullscreen_video' %>