/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: left;
  color: black;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
