.card {
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  font-size: 1em;
  margin-bottom: 2em;
}

.card-content-container {
  padding: 0 40px;
}

.card-title {
  font-weight: bolder;
  margin-bottom: 2em;
}

.home-page-card {
  min-height: 400px;
  font-size: 0.9em;
}
