.card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 30px;
  margin: 40px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  list-style-type: none;
}
