body{
  background-color: #F7F7F7;
}

.card {
  background-color: rgba(255, 255, 255, 1);
  padding: 30px 0;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  list-style-type: none;
  color: $gray-dark;
  margin-bottom: 2em;
}

.card-content-container {
  padding: 0 40px;
}

.card-title {
  font-weight: bolder;
  margin-bottom: 2em;
}

.home-page-card {
  min-height: 500px;
}
