
.banner {
  // background-image: url('SplashBackground.png');
  background-size: cover;
  height: 100vh;
  position: relative
}

.title{
  width: 320px;
  text-align: center;
  position: absolute;
  top: 200px;
}

.title h1 {
font-weight: strong;
font-family: "Open-Sans", helvetica, arial, sans-serif;
font-size: 60px;
color: #F5A623;
}

title .btn-primary {
  background-color: #B8B8B8;
  border-color: #B8B8B8;
  text-decoration: none;
}

