.element-size {
	height: 140px;
}

.sun-size {
	height: 210px;
}

.nb-container {
	margin: 0px 80px;
}

.nb-header {
	 display: flex;
  align-items: center;
  justify-content: space-around;
  svg {
    width: 200px;
    height: 200px;
  }
  h2 {
    font-weight: 100;
    font-size: 22px;
}
}
