@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}/* Profile container */

#sidebar {
  position: fixed;
  padding: 0;
  height: 100%;
  background-color: $translucent-darkest-blue;
  color: #fff;
  padding-top: 10px;
}

.profile {
  margin: 20px 0;
}

.user-city{
  font-size: 13px;
  font-weight: 600;
}
/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
}

.profile-userpic img {
  width: 70px;
  border-radius: 50%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: $orange;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}


.profile-usermenu {
  margin-top: 30px;
  padding: 0;
}

.profile-usermenu-item  {
  list-style: none;
  line-height: 2.5em;
  display: block;
}

.profile-usermenu-item a {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  display: block;
  border-left: 2px solid transparent;
  font-size: 0.9em;
  transition: 0.5s ease;
}

.profile-usermenu-item a:hover {
  background-color: darken($translucent-darkest-blue, 1%);
  text-decoration: none;
  border-left: 2px solid $orange;
}

.sidebar-active a{
  background-color: $orange;
  border-left: 2px solid $orange;
}

.sidebar-active a:hover {
  background-color: $orange;
  border-left: 2px solid $orange;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  min-height: 460px;
}

// Signout button

.sidebar-signout-btn {
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  border: none;
  border-radius: 20em;
  line-height: 40px;
  min-width: 100px;
  background-color: $dark-blue;
  color: white;
  font-size: 14px;
  transition: all 0.2s ease;
  &:hover {
    background-color: $orange;
  }
}

.flags {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;

  .flag-transparent {
    opacity: 0.3;
  }
  .flag-transparent:hover {
    opacity: 1;
  }
}
.sidebar-logout {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

// @media all and (max-width: 700px) {
//   #sidebar {
//     display: none;
//   }
// }

// @media all and (min-width: 700px) {
//   .navbartop{
//     display: none;
//   }
// }

//Lewagon sidebar

/* Main class */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $dark-blue;
  transition: all 0.3s ease;
  display: flex;
  height: 90px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 50px;
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: darken($orange, 30%);
  font-size: 15px;
}
.navbar-wagon-link:hover {
  color: $orange;
  text-decoration: none;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-wagon-search-input:focus  {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
