#shiva {
  width: 100px;
  height: 100px;
  background: green;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  float:left;
  margin:5px;
}

.countt {
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}