<div class="map_box">
  <h3><%= solar_panel.user.first_name %>' Solar Panel</h3>
  <p><%= solar_panel.address %></p>
  <%= link_to "Details",  show_solar_panel_path(solar_panel), target: :blank, class: "btn btn-warning" %>
</div>
