<% @sidebar = true %>
<div class="clearfix">
  <% unless can? :show, current_user.solar_panel %>
  <p class="contracts"><%= t('.title') %></p>
  <% end %>

  <div class="col-xs-12 col-sm-6">
  <%= render 'shared/production_data' if can? :show, current_user.solar_panel %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= render 'shared/animated_barchart' if can? :show, current_user.solar_panel %>
  </div>

  <div class="col-xs-12">
    <%= render 'shared/daily_graph' %>
  </div>

</div>

