<!-- the flash message are displayed as a list
 -->
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul class="list">
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
